@inherits Soenneker.Quark.Components.Element

<div @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
    
    protected override Dictionary<string, object> BuildAttributes()
    {
        base.BuildAttributes();
        
        AppendToClassAttr(Attributes, "col");

        return Attributes;
    }
}
