@inherits Soenneker.Quark.Element

<div @attributes="BuildAttributes()">
	@ChildContent
</div>

@code {
	public override string? Name { get; set; } = "Column";
    
    protected override Dictionary<string, object> BuildAttributes()
    {
        Attributes = base.BuildAttributes();
        
        AppendToClassAttr(Attributes, "col");

        return Attributes;
    }
}
